body{
	background-image: url('background.jpg');
	background-size: 100%;
	font-family: Goudy Old Style;
	overflow: hidden;

}

.Section {
	display: none;
}

.div_1{
	width: 99%;
	justify-content: center;
	height: 740px;
	background-image: url('about.jpeg');
	background-size: 100%;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	top: 0px;
	left: 10px;
	right: 10px;
	display: none;
	opacity: 0.9;
}

.div_1 .btn_1{
	margin-top: 150px;
	width: 300px;
	height: 60px;
	border-radius: 50px;
	font-size: 33px;
	font-family: Goudy Old Style;
	background: linear-gradient(120deg,#000066,black,#003399);
	background-size: 300%;
	color: orange;
	border: 1px solid black;
	display: none;
}

.div_1 .btn_1:hover{
	background-position: right;
	cursor: pointer;
}

h1 {
	color: orange;
}

.Box{
	width: 900px;
	height: 400px;
	padding-left: 25%;
	top: 200px;
	left: 200px;
	opacity: 0.8;
	display: none;

}

.Box .text {
	width: 350px;
	height: 350px;
	font-size: 30px;
	color: white;
	background-color: black;
	float: left;
	display: block;
	padding-left: 20px;
	color: orange;
	font-weight: lighter;
	text-shadow: 0.5px 0.5px #fdfefe;
	border-radius: 15px 0px 0px 15px;
	border: 2px solid orange;
	border-right: none;

}

.Box .image {
	width: 400px;
	height: 350px;
	background-image: url('burger.jpg');
	background-size: cover;
	background-position: left center;
	float: left;
	border-radius: 0px 15px 15px 0px;
	border: 2px solid orange;
	border-left: none;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);

}

.btn{
	padding: 12px  30px;
	border-radius: 12px;
	background-color: orange;
	border: 1px solid black;
	color: black;
	font-weight: bold;
	font-family: Goudy Old Style;
	cursor: pointer;
	margin-top: 40px;
	font-size: 22px;
	width: 200px;
	opacity: 0.85;

}

.btn:hover {
	opacity: 1;
	border: 1.5px solid black;
}

.food {
	text-align: center;
	font-size: 50px;
	text-shadow: 3px 3px black;
}

.wrapper {
	text-align: center;
	font-size: 55px;
	font-weight: 1000;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(to right, red 10% , orange 60%);
	padding-top: 180px;
	display: none;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 6s linear infinite;
	display: none;
	text-shadow: 2px 2px 5px black;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}